.row {
  margin-bottom: 20px;
}

.cell {
  width: 200px;
  margin-right: 10px;
}

input {
  width: 100%;
  border-radius: 2px;
  padding: 10px;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
